# app/requirements.txt
# --- Основа и асинхронность ---
pydantic-settings==2.3.4
python-dotenv==1.0.1
httpx==0.27.0
aiohttp==3.9.5

# --- Telegram Бот (aiogram 3.x) ---
aiogram==3.10.0
aiohttp-socks==0.8.4

# --- ИИ Движок (LangChain & LangGraph) ---
langchain==0.2.11
langchain-community==0.2.10
langgraph==0.1.15
langfuse==2.39.2
langchain-openai==0.1.17
langchain-google-genai==1.0.7
duckduckgo-search==6.2.4

# --- Локальные Эмбеддинги (RAG) ---
sentence-transformers==3.0.1
langchain-huggingface==0.0.3

# --- База данных и Векторный поиск ---
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
alembic==1.13.2
pgvector==0.3.2

# --- Очереди и задачи (RabbitMQ / Celery) ---
celery==5.4.0
redis==5.0.7
aio-pika==9.4.2

# --- Утилиты ---
python-multipart==0.0.9